---
import logos from '../images/framework-logos.png'
import logosSmall from '../images/framework-logos-small.png'

export interface Props {
  heading?: string;
  text?: string;
  showExtra?: boolean;
}

const { heading = "Welcome To The Acs Skill Swapper!", text="Welcome to Ace Skill Swapper—your go-to platform for seamless skill exchange and collaborative learning! We believe that everyone has unique talents to share and endless potential to grow. Our mission is to connect passionate learners and skilled individuals in a dynamic community where knowledge is traded, not just taught. Whether you're looking to pick up a new hobby, refine a professional skill, or share your expertise with others, Ace Skill Swapper makes learning interactive, accessible, and fun.", showExtra = false } = Astro.props as Props;
---

<section class="showcase">
  <div class="showcase-text">
    <h1>{heading}</h1>
    <p>
      {text}
    </p>
  </div>

  {showExtra && <>
    <div class="showcase-img">
    <img class="logos" src={logos} alt="" />
    <img class="logos-small" src={logosSmall} alt="" />
  </div>

  <p class="showcase-demo">
    <small>Whether you're a coding whiz, a language enthusiast, a DIY expert, or just eager to learn, Ace Skill Swapper is your gateway to endless possibilities. No subscriptions, no fees—just pure skill-sharing. Swap, learn, and ace your potential!</small>
  </p>
  </>}
</section>

<style>
  .showcase {
  height: auto;
  background-color: var(--color-secondary);
  background-image: linear-gradient(to bottom, var(--color-primary), rgb(15 23 42 / 0));
  padding: 30px;
}

.showcase-blog {
  min-height: 300px;
}

.showcase-text {
  max-width: 500px;
  color: #fff;
  text-align: center;
  margin: 50px auto;
}

.showcase h1 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
}

.showcase p {
  font-size: 24px;
  margin-bottom: 20px;
}

.showcase-img {
  text-align: center;
}

.showcase-img img {
  border-radius: 10px;
  margin: auto;
}

.showcase-demo {
  color: #fff;
  text-align: center;
  font-weight: 300;
}
</style>